<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex="" layout="column">
    <md-card ng-controller="chanceCtrl">
      <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
        <md-card-header-text>
          <h1 md-truncate class="md-title">Would you hire me?</h1>
          <md-button ng-click="chance = chance + 1" class="md-raised md-accent">{{title}} {{chance}}0%</md-button>
        </md-card-header-text>
      </md-card-header>

      <md-card-title md-colors="::{backgroundColor: 'primary-300'}">
        <md-card-title-text>
          <h1 class="md-title">Social Links:</h1>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>
        <md-grid-list md-cols="5" md-gutter="1em" md-row-height="4:3" md-colors="::{color: 'accent'}">
          <md-grid-tile>
            <md-button ng-href="https://www.facebook.com/jigzimon" target="_blank">
              <md-tooltip>Facebook</md-tooltip>
              <i class="fa fa-4x fa-facebook-square"></i>
            </md-button>
          </md-grid-tile>

          <md-grid-tile>
            <md-button ng-href="https://www.linkedin.com/in/jigno-alfred-venezuela-757600b3/" target="_blank">
              <md-tooltip>LinkedIn</md-tooltip>
              <i class="fa fa-4x fa-linkedin-square"></i>
            </md-button>
          </md-grid-tile>

          <md-grid-tile>
            <md-button ng-href="https://github.com/iamjigz" target="_blank">
              <md-tooltip>Github</md-tooltip>
              <i class="fa fa-4x fa-github-alt"></i>
            </md-button>
          </md-grid-tile>

          <md-grid-tile>
            <md-button ng-href="http://codepen.io/iamjigz/" target="_blank">
              <md-tooltip>Codepen</md-tooltip>
              <i class="fa fa-4x fa-codepen"></i>
            </md-button>
          </md-grid-tile>

          <md-grid-tile>
            <md-button ng-href="http://stackoverflow.com/users/4918036/jigno-alfred-venezuela" target="_blank">
              <md-tooltip>Stack Overflow</md-tooltip>
              <i class="fa fa-4x fa-stack-overflow"></i>
            </md-button>
          </md-grid-tile>
        </md-grid-list>
      </md-card-content>
    </md-card>
  </div>
</md-content>
