
<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex layout="column">

    <md-card>
      <md-card-avatar align="center" class="banner">
        <img ng-src="imgs/banner.png" class="img-responsive center-block md-card-image">
      </md-card-avatar>
      <md-card-header md-colors="::{backgroundColor: 'primary-800'}">
        <md-card-avatar>
          <img class="md-user-avatar profile_size" src="imgs/profile.jpeg">
        </md-card-avatar>

        <md-card-header-text>

          <span class="md-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.first_name}} {{info.middle_name.charAt(0)}}. {{info.last_name}}</span>
          <span class="md-subhead">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.title}}</span>
        </md-card-header-text>
      </md-card-header>

    </md-card>
  </div>
</md-content>
