<md-dialog aria-label="modal">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Update Profile Information</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content md-subhead">
        <md-input-container class="md-primary">
          <input type="text" ng-model="info.first_name" placeholder="First Name">
        </md-input-container>

        <md-input-container class="md-primary">
          <input type="text" ng-model="info.middle_name" placeholder="Middle Name">
        </md-input-container>

        <md-input-container class="md-primary">
          <input type="text" ng-model="info.last_name" placeholder="Last Name">
        </md-input-container>

        <md-divider></md-divider>

        <md-input-container class="md-accent">
          <input type="text" ng-model="info.age" placeholder="Age">
        </md-input-container>

        <md-input-container class="md-accent">
          <input type="text" ng-model="info.location" placeholder="Location">
        </md-input-container>

        <md-input-container class="md-accent">
          <input type="text" ng-model="info.mobile" placeholder="Mobile">
        </md-input-container>

        <md-input-container class="md-accent">
          <input type="text" ng-model="info.email" placeholder="Email">
        </md-input-container>
      </div>
    </md-dialog-content>

    <!-- <md-dialog-actions layout="row" layout-align="end center">
      <md-button ng-click="answer('not useful')">
       Submit
      </md-button>
      <md-button ng-click="answer('useful')">
        Useful
      </md-button>
    </md-dialog-actions> -->
  </form>
</md-dialog>
