<!doctype html>
<html lang="en" ng-app="portfolioPage">

<head>
  <meta charset="UTF-8">

  <title>Angular.js Portfolio Page</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.0/semantic.min.css">
  <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-cloak>
  <md-content flex ng-controller="themeCtrl" md-theme="{{theme}}" md-theme-watch="true">

    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <h2 flex md-truncate>Portfolio Page</h2>

        <md-button href="#" class="md-primary md-raised" ng-click="changeTheme()">
          Random Theme
        </md-button>

        <md-switch ng-true-value="'yup'" ng-false-value="'nope'" class="md-accent">
          <md-tooltip>Switch to Dark Theme</md-tooltip>
        </md-switch>
      </div>
    </md-toolbar>

    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="overview">
        <md-content class="md-padding" layout-xs="column" layout="row">
          <div flex layout="column">

            <md-card>
              <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
                <md-card-avatar>
                  <img class="md-user-avatar" src="imgs/profile.jpg">
                </md-card-avatar>

                <md-card-header-text>
                  <span class="md-title">Jigno Alfred V. Venezuela</span>
                  <span class="md-subhead">Web Developer</span>
                </md-card-header-text>
              </md-card-header>

              <img ng-src="imgs/banner.jpg" class="md-card-image">

              <md-card-content layout="row" layout-align="center center" ng-controller="languageCtrl">
                <ul class="progress" ng-click="languageCtrl.reload()">
                  <li ng-repeat="language in languages" data-name={{language.name}} data-percent={{language.percent}} md-colors="::{color: 'accent'}">
                    <md-tooltip>{{language.percent}} proficient in {{language.name}}.</md-tooltip>
                    <svg viewBox="-10 -10 220 220">
                              <g fill="none" stroke-width="12" transform="translate(100,100)">
                                <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                                <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                                <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                                <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                                <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                                <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                              </g>
                            </svg>

                    <svg viewBox="-10 -10 220 220">
                              <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset={{language.offset}}></path>
                            </svg>
                  </li>
                </ul>

                <svg width="0" height="0">
                          <defs>
                            <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
                                <stop stop-color="#618099"/>
                                <stop offset="100%" stop-color="#8e6677"/>
                            </linearGradient>
                            <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
                                <stop stop-color="#8e6677"/>
                                <stop offset="100%" stop-color="#9b5e67"/>
                            </linearGradient>
                            <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
                                <stop stop-color="#9b5e67"/>
                                <stop offset="100%" stop-color="#9c787a"/>
                            </linearGradient>
                            <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
                                <stop stop-color="#9c787a"/>
                                <stop offset="100%" stop-color="#817a94"/>
                            </linearGradient>
                            <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
                                <stop stop-color="#817a94"/>
                                <stop offset="100%" stop-color="#498a98"/>
                            </linearGradient>
                            <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
                                <stop stop-color="#498a98"/>
                                <stop offset="100%" stop-color="#618099"/>
                            </linearGradient>
                          </defs>
                        </svg>
              </md-card-content>

              <md-card>
                <md-card-header md-colors="::{backgroundColor: 'primary-300'}">
                  <md-card-header-text>
                    <h1 class="md-display-1">Details</h1>
                  </md-card-header-text>
                </md-card-header>

                <md-card-content>
                  <md-list>
                    <md-list-item class="md-2-line">
                      <div class="md-list-item-text">
                        <p md-colors="::{color: 'accent'}">Age: 30</p>
                        <p md-colors="::{color: 'accent'}">Location: Santo Tomas, Batangas</p>
                        <p md-colors="::{color: 'accent'}">Mobile: +639260118502</p>
                        <p md-colors="::{color: 'accent'}">Email: jigzimon@gmail.com</p>
                      </div>
                    </md-list-item>
                  </md-list>
              </md-card>
            </md-card>

            <md-card>
              <md-card-header md-colors="::{backgroundColor: 'primary-500'}">
                <md-card-header-text>
                  <h1 class="md-display-1">Work Experience</h1>
                </md-card-header-text>
              </md-card-header>

              <md-card-content ng-controller="workCtrl">
                <md-list>
                  <md-list-item ng-repeat-start="exp in exps">
                    <div class="md-list-item-text">
                      <md-card>
                        <md-card-header>
                          <md-card-avatar>
                            <i class="material-icons">place</i>
                          </md-card-avatar>

                          <md-card-header-text md-colors="::{color: 'primary'}">
                            <span class="md-headline">{{exp.company}}</span>
                            <span class="md-subhead">{{exp.location}}</span>
                          </md-card-header-text>
                        </md-card-header>

                        <md-card-title>
                          <md-card-title-text md-colors="::{color: 'accent'}">
                            <span class="md-title">{{exp.title}}</span>
                            <span class="md-subhead">{{exp.period}}</span>
                          </md-card-title-text>
                        </md-card-title>

                        <md-card-content>
                          <ol>
                            <li ng-repeat="task in exp.tasks">{{task.task}}</li>
                          </ol>
                        </md-card-content>
                      </md-card>
                    </div>
                  </md-list-item>
                  <div ng-repeat-end></div>
                </md-list>
              </md-card-content>
        </md-content>
      </md-tab>

      <md-tab label="skills list">
        <md-content class="md-padding" layout-xs="column" layout="row">
          <div flex layout="column">
            <md-card>
              <md-card-title md-colors="::{backgroundColor: 'primary-700'}">
                <md-card-title-text>
                  <span class="md-title">Additional frameworks, libraries, and technologies...</span>
                </md-card-title-text>
              </md-card-title>

              <md-card-content class="form-search" ng-controller="skillsCtrl">
                <md-input-container class="md-title md-accent">
                  <md-tooltip>Do I have the skills you need?</md-tooltip>
                  <input id="skill-search" type="text" ng-model="search" placeholder="Search skills">
                </md-input-container>

                <md-list md-colors="::{backgroundColor: 'accent-100'}">
                  <md-list-item class="animate" ng-repeat="skill in skills | filter:search">
                    <a href={{skill.url}} target="blank" md-colors="::{color: 'primary'}">{{skill.name}}</a>
                    <md-divider></md-divider>
                  </md-list-item>
                </md-list>
              </md-card-content>
            </md-card>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="wiki search">
        <md-content class="md-padding" layout-xs="column" layout="row">
          <div flex layout="column">
            <md-card>
              <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
                <md-card-header-text>
                  <h1 class="md-title">Search using the Wikipedia API</h1>
                </md-card-header-text>
              </md-card-header>

              <md-card-content class="md-padding" ng-controller="wikiCtrl">
                <div layout="row" flex>
                  <md-input-container flex class="md-icon-float md-title md-accent">
                    <md-icon class="material-icons">search</md-icon>
                    <input id="search" placeholder="Enter search term..." ng-model="query">
                  </md-input-container>
                  <div>
                    <md-button class="md-raised md-primary" onclick="location.href='https://en.wikipedia.org/wiki/Special:Random';">
                      Surprise Me!
                      <md-icon class="material-icons">shuffle</md-icon>
                      <md-tooltip>Links to a random wikipedia article.</md-tooltip>
                    </md-button>
                  </div>
                </div>

                <md-card ng-repeat='data in wikiData'>
                  <md-card-header>
                    <md-card-header-text md-colors="::{color: 'primary'}">
                      <h4 class="md-title">{{data.name}}</h4>
                    </md-card-header-text>
                  </md-card-header>

                  <md-card-content>
                    <p>{{data.snip}}</p>
                    <a href="{{data.link}}" target="blank" md-colors="::{color: 'accent'}">Read More...<md-icon class="material-icons md-primary">open_in_new</md-icon></a>
                  </md-card-content>
                </md-card>
          </div>
          </md-card-content>
        </md-content>
      </md-tab>

      <md-tab label="todo">
        <md-content class="md-padding" layout-xs="column" layout="row">
          <div flex layout="column">

            <md-card ng-controller="taskCtrl">
              <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
                <md-card-header-text>
                  <span class="md-headline">Planning to take over the world?</span>
                </md-card-header-text>
              </md-card-header>

              <md-card-content>
                <form>
                  <div layout="row" flex>
                    <md-input-container flex class="md-icon-float md-title md-accent">
                      <md-icon class="material-icons">search</md-icon>
                      <input id="description" placeholder="What do you need to do?" ng-model="newTask">
                    </md-input-container>
                  </div>

                  <div layout="row" flex>
                    <div flex>
                      <md-datepicker ng-model="newTaskDate" md-placeholder="Enter date"></md-datepicker>

                      <md-input-container style="margin-right: 10px;">
                        <label>Choose a category</label>
                        <md-select ng-model="newTaskCategory">
                          <md-option ng-repeat="obj in categories" value="{{obj.name}}">{{obj.name}}</md-option>
                        </md-select>
                      </md-input-container>

                      <md-button class="md-raised md-primary" ng-click="addNew()">
                        Add
                        <md-icon class="material-icons">note_add</md-icon>
                      </md-button>

                      <md-button class="md-raised md-accent" ng-click="deleteTask()">
                        Delete
                        <md-icon class="material-icons">delete_forever</md-icon>
                      </md-button>
                    </div>
                  </div>
                </form>

                <md-list ng-model="taskItem">
                  <md-list-item ng-repeat-start="taskItem in taskItem track by $index">
                    <div flex>
                      <md-card>
                        <md-card-title md-colors="::{backgroundColor: 'primary-100'}">
                          <md-card-title-text>
                            <div layout="row" flex>
                              <md-checkbox class="md-title" ng-model="taskItem.complete" ng-change="save()" aria-label="taskComplete"></md-checkbox>
                              <span class="md-headline">{{taskItem.description}}</span>
                            </div>
                          </md-card-title-text>
                        </md-card-title>

                        <md-card-content layout="row" layout-align="end center" md-colors="::{backgroundColor: 'accent-100'}">
                          <span class="md-subhead">{{taskItem.category}}</span>
                          <i class="material-icons">date_range</i>
                          <span class="md-subhead">
                          {{taskItem.date | date : 'mediumDate'}}
                        </span>
                        </md-card-content>
                      </md-card>
                    </div>
                  </md-list-item>
                  <div ng-repeat-end></div>
                </md-list>

              </md-card-content>

          </div>
        </md-content>
      </md-tab>

      <md-tab label="github">
        <md-content class="md-padding" layout-xs="column" layout="row">
          <div flex layout="column">

            <md-content ng-controller="githubCtrl">
              <md-toolbar md-scroll-shrink>
                <md-tooltip>See project details using the GitHub API.</md-tooltip>
                <div class="md-toolbar-tools">
                  <h1 flex md-truncate class="md-headline">View commmits from GitHub</h1>
                  <md-button ng-click="getGitInfo()" class="md-raised md-title md-accent">
                    View
                  </md-button>
                </div>
              </md-toolbar>

              <md-card ng-show="loaded">
                <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
                  <md-card-avatar ng-show="loaded">
                    <img class="md-user-avatar" src="{{user.avatar_url}}">
                  </md-card-avatar>

                  <md-card-header-text layout="column" layout-align="center start">
                    <span class="md-headline">{{user.name}}</span>
                    <md-button md-truncate ng-href="{{user.html_url}}" target="_blank">
                      <span class="md-primary">( @{{user.login}} )</span>
                    </md-button>
                  </md-card-header-text>
                </md-card-header>

                <md-card-title>
                  <md-card-title-text layout="column" layout-align="center center">
                    <span class="md-title">Followers: {{user.followers}} - Following: {{user.following}} - Repos: {{user.public_repos}}</span>
                    <span class="md-title">Showing last {{limit}} commits...</span>
                    <md-slider flex class="md-primary" ng-model="limit" md-discrete step="5" max="{{maxLimit}}" aria-label="limit"></md-slider>
                  </md-card-title-text>
                </md-card-title>

                <md-card-content ng-show="commitsFound">
                  <md-card>
                    <md-card-header md-colors="::{color: 'accent'}">
                      <md-card-header-text>
                        <span class="md-headline">README.md</span>
                      </md-card-header-text>
                    </md-card-header>

                    <md-card-content>
                      <pre ng-bind-html="readme"></pre>
                    </md-card-content>

                  </md-card>

                  <md-card ng-repeat="commit in commits | limitTo: limit">
                    <md-card-header md-colors="::{backgroundColor: 'accent-100'}">
                      <md-card-avatar ng-show="loaded">
                        <img class="md-user-avatar" src="{{commit.committer.avatar_url}}">
                      </md-card-avatar>

                      <md-card-header-text layout layout-align="end center">
                        <div layout="column" flex md-truncate>
                          <span class="md-title">{{commit.commit.message}}</span>
                        </div>
                        <md-button ng-click="open = !open" class="md-raised md-title md-primary">
                          Details
                        </md-button>
                      </md-card-header-text>
                    </md-card-header>

                    <md-card-content ng-show="open">
                      <md-list layout="column" flex class="md-list-item-text">
                        <span>Committed by: {{commit.commit.committer.name}}</span>
                        <span>Username: {{commit.committer.login}}</span>
                        <span>Commited on: {{commit.commit.committer.date | date: 'MM/dd/yyyy HH:mm'}}</span>
                      </md-list>

                      <md-divider md-inset></md-divider>
                      <a href="{{commit.html_url}}" target="_blank">
                        <md-icon class="material-icons md-primary md-18">open_in_new</md-icon>
                        <span md-colors="::{color: 'accent'}">View on GitHub...</span>
                      </a>
                    </md-card-content>
                  </md-card>
                </md-card-content>
              </md-card>
            </md-content>
          </div>
        </md-content>
      </md-tab>

      <md-tab label="contact">

        <div ng-include="'partials/contact.htm'"></div>

      </md-tab>
    </md-tabs>
  </md-content>
</body>

<footer>
  <md-content layout="row" layout-align="center center" layout-margin md-colors="::{color: 'primary'}">
    <span class="md-caption">Built by</span>
    <span class="md-subhead" md-colors="::{color: 'accent'}">
      Jigno Alfred V. Venezuela
    </span>
    <span class="md-caption">2017</span>
  </md-content>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-resource.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>

  <script src="scripts/app.js"></script>
  <script src="scripts/data.js"></script>
</footer>

</html>
