<!doctype html>
<html lang="en" ng-app="portfolioPage">

<head>
    <meta charset="UTF-8">

    <title>Angular.js Portfolio Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js">

    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.0/semantic.min.css">
    <link rel="stylesheet" href="styles/app.css">
</head>

<body ng-cloak>

    <md-content>
        <md-tabs md-dynamic-height="" md-border-bottom="">
            <md-tab label="details">
                <md-content class="md-padding">
                    <img src="pic.jpg"></img>
                    <div id="info" layout="column" layout-align="end">
                        <h1 class=".md-display-2">Jigno Alfred V. Venezuela</h1>
                        <p class="md-subhead">Age: 30
                            <br>Location: Santo Tomas, Batangas
                            <br>Mobile: +639260118502
                            <br>Email: jigzimon@gmail.com</p>
                    </div>

                    <h3 class=".md-headline">Work Experience</h3>
                    <div ng-controller="workCtrl">
                        <p ng-repeat-start="exp in exps">
                            <b>{{exp.company}}</b>
                            <br><b>{{exp.location}}</b>
                            <br><i>{{exp.title}}</i>
                            <br>{{exp.period}}
                            <ul>
                                <li ng-repeat="task in exp.tasks">{{task.task}}</li>
                            </ul>
                        </p>
                        <div ng-repeat-end></div>
                    </div>
                </md-content>
            </md-tab>

            <md-tab label="skills">
                <md-content class="md-padding" ng-controller="chartCtrl">
                    <ul class="progress">
                        <li ng-repeat="language in languages" data-name={{language.name}} data-percent={{language.percent}}>
                            <svg viewBox="-10 -10 220 220">
                            <g fill="none" stroke-width="12" transform="translate(100,100)">
                              <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                              <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                              <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                              <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                              <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                              <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                            </g>
                          </svg>
                            <svg viewBox="-10 -10 220 220">
                            <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset={{language.offset}}></path>
                          </svg>
                        </li>

                        <svg width="0" height="0">
                          <defs>
                            <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
                                <stop stop-color="#618099"/>
                                <stop offset="100%" stop-color="#8e6677"/>
                            </linearGradient>
                            <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
                                <stop stop-color="#8e6677"/>
                                <stop offset="100%" stop-color="#9b5e67"/>
                            </linearGradient>
                            <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
                                <stop stop-color="#9b5e67"/>
                                <stop offset="100%" stop-color="#9c787a"/>
                            </linearGradient>
                            <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
                                <stop stop-color="#9c787a"/>
                                <stop offset="100%" stop-color="#817a94"/>
                            </linearGradient>
                            <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
                                <stop stop-color="#817a94"/>
                                <stop offset="100%" stop-color="#498a98"/>
                            </linearGradient>
                            <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
                                <stop stop-color="#498a98"/>
                                <stop offset="100%" stop-color="#618099"/>
                            </linearGradient>
                          </defs>
                        </svg>

                        <h1 class="md-display-1">Frameworks, Libraries, and Technologies...</h1>
                        <form class="form-search" ng-controller="listCtrl">
                            <md-input-container>
                                <input id="skill-search" type="text" ng-model="search" placeholder="Search skills">
                            </md-input-container>

                            <ul class="example-animate-container">
                                <li class="animate-repeat" ng-repeat="skill in skills | filter:search">
                                    <a href={{skill.url}} target="blank">{{skill.name}}</a>
                                </li>
                            </ul>
                        </form>
                </md-content>
            </md-tab>

            <md-tab label="Wiki Search">
                <md-content class="md-padding" ng-controller="wikiCtrl">
                    <form layout layout-align="center" layout-padding>
                        <div layout="row" flex>
                            <md-input-container flex class="md-icon-float md-block md-title">
                                <label>Wikipedia Search:</label>
                                <md-icon class="material-icons">search</md-icon>
                                <input id="search" placeholder="Enter search term..." ng-model="query">
                            </md-input-container>
                            <div>
                                <md-button class="md-raised" onclick="location.href='https://en.wikipedia.org/wiki/Special:Random';">
                                    Surprise Me!
                                    <md-icon class="material-icons">shuffle</md-icon>
                                </md-button>
                            </div>
                        </div>
                    </form>

                    <md-card ng-repeat='data in wikiData'>
                        <md-card-header>
                            <md-card-header-text>
                                <h4 class=".md-title">{{data.name}}</h4>
                                <p>{{data.snip}}</p>
                                <a href="{{data.link}}" target="blank">Read More...<md-icon class="material-icons">open_in_new</md-icon></a>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>
                </md-content>
            </md-tab>

            <md-tab label="cards">
                <md-content class="md-padding">
                    <md-card class="card shadow--4dp card-loc" ng-controller="locationCtrl">
                        <md-card-header>
                            <md-card-header-text>
                                <i class="fa fa-compass material-icons" ng-click="getLoc()"></i>
                                <span class="md-title">You are in:</span>
                                <div ng-show="myLoc">
                                    {{myLoc.query}}
                                    <br>{{myLoc.city}}, {{myLoc.regionName}}
                                </div>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>

                    <md-card class="card shadow--4dp card-weather" ng-controller="weatherCtrl">
                        <md-card-header>
                            <md-card-header-text>
                                <i class="fa fa-sun-o material-icons" ng-click="getWeather()"></i>
                                <span class="md-title">Going out?</span>
                                <div ng-show="wForecast">
                                    <span>Forecast: {{wForecast.abs.description}}</span>
                                    <br>Humidity: {{wForecast.humidity}}
                                    <br>Temp: {{wForecast.temp + 'C'}}
                                </div>
                            </md-card-header-text>
                        </md-card-header>
                    </md-card>

                    <md-card class="card shadow--4dp card-todo" ng-controller="todoCtrl">
                        <md-card-header>
                            <md-card-header-text>
                                <span class="md-title">Get Stuff Done!</span>
                            </md-card-header-text>
                            <md-button class="fa fa-plus" ng-click="toggleForm()"> Add</md-button>
                            <md-button class="fa fa-trash" ng-click="clearDoneItems()"> Delete</md-button>
                        </md-card-header>

                        <md-card-content>
                            <div id="list-view" ng-hide="addMode">
                                <md-list>
                                    <md-list-item class="md-2-line td-li item-done-{{item.done}}" ng-model="toDoList" ng-repeat="item in toDoList track by $index">
                                        <label class="checkbox js-checkbox js-ripple-effect" for="checkbox-{{$index}}">
                                                   <md-checkbox class="checkbox__input" id="checkbox-{{$index}}" aria-label="checkbox" ng-model="item.done"></md-checkbox>
                                                   <span class="checkbox__label">{{item.desc}}</span>
                                                </label>
                                        <div class="item-due-date" ng-show="item.due">Due: {{item.due | date}} </div>
                                        <div class="item-due-date" ng-show="item.dt">Added: {{item.dt | date:'MMM dd, yyyy' }} </div>
                                    </md-list-item>
                                </md-list>
                            </div>

                            <div id="add-view" ng-show="addMode">
                                <form name="addNewForm">
                                    <md-input-container>
                                        <input class="textfield__input" name="itemDesc" type="text" id="td-desc" ng-model="newItem.desc" required>
                                        <label class="textfield__label" style="color:rgb(55, 33, 10);" for="td-desc">Description...</label>
                                    </md-input-container>

                                    <div class="textfield js-textfield textfield--floating-label">
                                        <md-datepicker id="td-due" ng-model="newItem.due"></md-datepicker>
                                        <label class="textfield__label" style="color: rgba(0,0,0,0.0);" for="td-due">Due Date...</label>
                                    </div>
                                    <br/>
                                    <button class="button js-button button--raised button--colored js-ripple-effect" ng-click="addItem()" ng-disabled='!addNewForm.itemDesc.$valid'>ADD</button>
                                </form>
                            </div>
                            <div class="card-supporting-text">
                            </div>
                            <div class="card-actions">
                            </div>
                        </md-card-content>
                    </md-card>
                </md-content>
            </md-tab>

            <md-tab label="contact">
                <md-content class="md-padding" ng-controller="chanceCtrl">
                    <p>Email: jigzimon@gmail.com</p>
                    <p>Phone: +639260118502</p>
                    <p>
                        <md-button ng-click="chance = chance + 1" class="md-raised md-primary">{{title}}</md-button>Possibility: {{chance}}0%</p>

                    <a href="https://www.facebook.com/jigzimon" target="_blank"><i class="fa fa-facebook-square fa-4x"></i></a>
                    <a href="https://github.com/iamjigz" target="_blank"> <i class="fa fa-github-alt fa-4x"></i></a>
                    <a href="http://codepen.io/iamjigz/" target="_blank"> <i class="fa fa-codepen fa-4x"></i></a>
                    <a href="http://stackoverflow.com/users/4918036/jigno-alfred-venezuela" target="_blank"><i class="fa fa-stack-overflow fa-4x"></i></a>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

    <script src="scripts/app.js"></script>
</body>

</html>
