<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex layout="column">

    <md-content ng-controller="githubCtrl">
      <md-toolbar md-scroll-shrink>
        <md-tooltip>See project details using the GitHub API.</md-tooltip>
        <div class="md-toolbar-tools">
          <h1 flex md-truncate class="md-headline">View commmits from GitHub</h1>
          <md-button ng-click="getGitInfo()" class="md-raised md-title md-accent">
            View
          </md-button>
        </div>
      </md-toolbar>

      <md-card ng-show="loaded">
        <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
          <md-card-avatar>
            <img class="md-user-avatar" src="{{user.avatar_url}}">
          </md-card-avatar>

          <md-card-header-text layout="column" layout-align="center start">
            <span class="md-title">{{user.name}}</span>
            <md-button md-truncate ng-href="{{user.html_url}}" target="_blank">
              <span class="md-subhead md-accent">( @{{user.login}} )</span>
            </md-button>
          </md-card-header-text>
        </md-card-header>

        <md-card-title>
          <md-card-title-text layout="column" layout-align="center center">
            <span class="md-title">Followers: {{user.followers}} - Following: {{user.following}} - Repos: {{user.public_repos}}</span>
            <span class="md-title">Showing last {{limit}} commits...</span>
            <md-slider-container flex>
              <md-slider class="md-primary" ng-model="limit" md-discrete step="1" max="{{maxLimit}}" aria-label="limit"></md-slider>
                <md-input-container>
                  <input flex type="number" ng-model="limit" aria-label="limit">
                </md-input-container>
            </md-slider-container>
          </md-card-title-text>
        </md-card-title>

        <md-card-content ng-show="commitsFound">
          <md-card>
            <md-card-header md-colors="::{color: 'accent'}">
              <md-card-header-text>
                <md-button ng-href="{{readmeInfo.html_url}}" target="_blank">
                  <span class="md-headline">{{readmeInfo.name}}</span>
                  <i class="material-icons">open_in_browser</i>
                </md-button>
              </md-card-header-text>
            </md-card-header>

            <md-card-content>
              <pre ng-bind-html="readme" style="height: 20pc;"></pre>
            </md-card-content>
          </md-card>

          <md-card ng-repeat="commit in commits | limitTo: limit">
            <md-card-header md-colors="::{backgroundColor: 'accent-100'}">
              <md-card-avatar ng-show="loaded">
                <img class="md-user-avatar" src="{{commit.committer.avatar_url}}">
              </md-card-avatar>

              <md-card-header-text layout layout-align="end center">
                <div layout="column" flex md-truncate>
                  <span class="md-title">{{commit.commit.message}}</span>
                </div>
                <md-button ng-click="open = !open" class="md-raised md-title md-primary">
                  Details
                </md-button>
              </md-card-header-text>
            </md-card-header>

            <md-card-content ng-show="open">
              <md-list layout="column" flex class="md-list-item-text">
                <span>Committed by: {{commit.commit.committer.name}}</span>
                <span>Username: {{commit.committer.login}}</span>
                <span>Commited on: {{commit.commit.committer.date | date: 'MM/dd/yyyy HH:mm'}}</span>
              </md-list>

              <md-divider md-inset></md-divider>
              <a href="{{commit.html_url}}" target="_blank">
                <md-icon class="material-icons md-primary ">open_in_new</md-icon>
                <span md-colors="::{color: 'accent'}">View on GitHub...</span>
              </a>
            </md-card-content>
          </md-card>
        </md-card-content>
      </md-card>
    </md-content>
  </div>
</md-content>
