<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex layout="column">

    <md-card>
      <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
        <md-card-avatar>
          <img class="md-user-avatar" src="imgs/profile.jpg">
        </md-card-avatar>

        <md-card-header-text>
          <span class="md-title">{{info.first_name}} {{info.middle_name.charAt(0)}}. {{info.last_name}}</span>
          <span class="md-subhead">{{info.title}}</span>
        </md-card-header-text>
      </md-card-header>

      <img ng-src="imgs/banner.jpg" class="md-card-image">

      <md-card-content layout="row" layout-align="center center" ng-controller="languageCtrl">
        <ul class="progress" ng-click="languageCtrl.reload()">
          <li ng-repeat="language in languages" data-name={{language.name}} data-percent={{language.percent}} md-colors="::{color: 'accent'}">
            <md-tooltip>{{language.percent}} proficient in {{language.name}}.</md-tooltip>
            <svg viewBox="-10 -10 220 220">
                      <g fill="none" stroke-width="12" transform="translate(100,100)">
                        <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)"/>
                        <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)"/>
                        <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)"/>
                        <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)"/>
                        <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)"/>
                        <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)"/>
                      </g>
                    </svg>

            <svg viewBox="-10 -10 220 220">
                      <path d="M200,100 C200,44.771525 155.228475,0 100,0 C44.771525,0 0,44.771525 0,100 C0,155.228475 44.771525,200 100,200 C155.228475,200 200,155.228475 200,100 Z" stroke-dashoffset={{language.offset}}></path>
                    </svg>
          </li>
        </ul>

        <svg width="0" height="0">
                  <defs>
                    <linearGradient id="cl1" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="1" y2="1">
                        <stop stop-color="#618099"/>
                        <stop offset="100%" stop-color="#8e6677"/>
                    </linearGradient>
                    <linearGradient id="cl2" gradientUnits="objectBoundingBox" x1="0" y1="0" x2="0" y2="1">
                        <stop stop-color="#8e6677"/>
                        <stop offset="100%" stop-color="#9b5e67"/>
                    </linearGradient>
                    <linearGradient id="cl3" gradientUnits="objectBoundingBox" x1="1" y1="0" x2="0" y2="1">
                        <stop stop-color="#9b5e67"/>
                        <stop offset="100%" stop-color="#9c787a"/>
                    </linearGradient>
                    <linearGradient id="cl4" gradientUnits="objectBoundingBox" x1="1" y1="1" x2="0" y2="0">
                        <stop stop-color="#9c787a"/>
                        <stop offset="100%" stop-color="#817a94"/>
                    </linearGradient>
                    <linearGradient id="cl5" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="0" y2="0">
                        <stop stop-color="#817a94"/>
                        <stop offset="100%" stop-color="#498a98"/>
                    </linearGradient>
                    <linearGradient id="cl6" gradientUnits="objectBoundingBox" x1="0" y1="1" x2="1" y2="0">
                        <stop stop-color="#498a98"/>
                        <stop offset="100%" stop-color="#618099"/>
                    </linearGradient>
                  </defs>
                </svg>
      </md-card-content>

      <md-card>
        <md-card-header md-colors="::{backgroundColor: 'primary-300'}">
          <md-card-header-text>
            <h1 class="md-display-1">Details</h1>
          </md-card-header-text>
        </md-card-header>

        <md-card-content>
          <md-list>
            <md-list-item class="md-2-line">
              <div class="md-list-item-text">
                <p md-colors="::{color: 'accent'}">Age: {{info.age}}</p>
                <p md-colors="::{color: 'accent'}">Location: {{info.location}}</p>
                <p md-colors="::{color: 'accent'}">Mobile: {{info.mobile}}</p>
                <p md-colors="::{color: 'accent'}">Email: {{info.email}}</p>
              </div>
            </md-list-item>
          </md-list>
        </md-card-content>

        <md-divider></md-divider>

        <md-card-footer>
          <md-grid-list md-cols="5" md-gutter="1em" md-row-height="4:3" md-colors="::{color: 'accent'}">
            <md-grid-tile>
              <md-button ng-href="{{social.facebook}}" target="_blank">
                <md-tooltip>Facebook</md-tooltip>
                <i class="fa fa-4x fa-facebook-square"></i>
              </md-button>
            </md-grid-tile>

            <md-grid-tile>
              <md-button ng-href="{{social.linkedin}}" target="_blank">
                <md-tooltip>LinkedIn</md-tooltip>
                <i class="fa fa-4x fa-linkedin-square"></i>
              </md-button>
            </md-grid-tile>

            <md-grid-tile>
              <md-button ng-href="{{social.github}}" target="_blank">
                <md-tooltip>Github</md-tooltip>
                <i class="fa fa-4x fa-github-alt"></i>
              </md-button>
            </md-grid-tile>

            <md-grid-tile>
              <md-button ng-href="{{social.codepen}}" target="_blank">
                <md-tooltip>Codepen</md-tooltip>
                <i class="fa fa-4x fa-codepen"></i>
              </md-button>
            </md-grid-tile>

            <md-grid-tile>
              <md-button ng-href="{{social.stack_overflow}}" target="_blank">
                <md-tooltip>Stack Overflow</md-tooltip>
                <i class="fa fa-4x fa-stack-overflow"></i>
              </md-button>
            </md-grid-tile>
          </md-grid-list>
        </md-card-footer>
      </md-card>
    </md-card>

    <md-card>
      <md-card-header md-colors="::{backgroundColor: 'primary-500'}">
        <md-card-header-text>
          <h1 class="md-display-1">Work Experience</h1>
        </md-card-header-text>
      </md-card-header>

      <md-card-content ng-controller="workCtrl">
        <md-list>
          <md-list-item ng-repeat-start="exp in exps">
            <div class="md-list-item-text" flex>
              <md-card>
                <md-card-header ng-click="open = !open">
                  <md-card-avatar>
                    <i class="material-icons">expand_more</i>
                  </md-card-avatar>

                  <md-card-header-text md-colors="::{color: 'primary'}">
                    <span class="md-headline">{{exp.company}}</span>
                    <span class="md-subhead">{{exp.location}}</span>
                  </md-card-header-text>
                </md-card-header>

                <md-card-title>
                  <md-card-title-text md-colors="::{color: 'accent'}">
                    <span class="md-title">{{exp.title}}</span>
                    <span class="md-subhead">{{exp.period}}</span>
                  </md-card-title-text>
                </md-card-title>

                <md-card-content ng-show="open">
                  <ol>
                    <li ng-repeat="task in exp.tasks">{{task.task}}</li>
                  </ol>
                </md-card-content>
              </md-card>
            </div>
          </md-list-item>
          <div ng-repeat-end></div>
        </md-list>
      </md-card-content>
  </div>
</md-content>
