<div>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h5 align="center">Information</h5>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text">
          <p>Firstname : {{info.first_name}}</p>
          <p>Surname : {{info.last_name}}</p>
          <p>Middlename : {{info.middle_name}}</p>
          <p>Age : {{info.age}}</p>
          <p>Address : {{info.location}}</p>
          <p>Contact #: {{info.mobile}}</p>
          <p>e-mail : {{info.email}}</p>
        </div>
      </md-list-item>
    </md-card-content>
  <md-card>
</div>
