<div>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <span align="center">Languages</span>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <md-list-item class="md-3-line" ng-click="null">
        <div class="base" align="center">

          <section class="model-1">
            <div class="graph">HTML5</div><span tooltip="90%" class="tooltip">HTML5</span>
          </section>
          <section class="model-2">
            <div class="graph">CSS</div><span tooltip="60%" class="tooltip">CSS</span>
          </section>
          <section class="model-3">
            <div class="graph">JQuery</div><span tooltip="70%" class="tooltip">JQuery</span>
          </section>
          <section class="model-4">
            <div class="graph">Javascript</div><span tooltip="50%" class="tooltip">JavaScript</span>
          </section>
        </div>
      </md-list-item>
    </md-card-content>
  <md-card>
</div>
