<div>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h3 align="center">Accounts</h3>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <div class="contact">
        <div class="row">
        <a class="btn btn-primary" href='http://codepen.io/exiege/'>
          <i class="fa fa-4x fa-codepen" aria-hidden='true'></i></a>
        <a class="btn btn-primary" href='#'>
          <i class="fa fa-4x fa-slack" aria-hidden='true'></i></a>
        <a class="btn btn-primary" href='https://trello.com/jeremybanagale'>
          <i class="fa fa-4x fa-trello" aria-hidden='true'></i></a>
        <a class="btn btn-primary" href='https://github.com/jeremybanagale'>
          <i class="fa fa-4x fa-github" aria-hidden='true'></i></a>
        <a class="btn btn-primary" href='https://gmail.com/jeremybanagale'>
          <i class="fa fa-4x fa-google-plus-square" aria-hidden='true'></i></a>
        </div>
      </div>
    </md-card-content>
  <md-card>
</div>
