<md-content class="md-padding" layout-xs="column" layout="row">
  <div flex layout="column">
    <md-card>
      <md-card-header md-colors="::{backgroundColor: 'primary-700'}">
        <md-card-header-text>
          <h1 class="md-title">Search using the Wikipedia API</h1>
        </md-card-header-text>
      </md-card-header>

      <md-card-content class="md-padding" ng-controller="wikiCtrl">
        <div layout="row" flex>
          <md-input-container flex class="md-icon-float md-title md-accent">
            <md-icon class="material-icons">search</md-icon>
            <input id="search" placeholder="Enter search term..." ng-model="query">
          </md-input-container>
          <div>
            <md-button class="md-raised md-primary" onclick="location.href='https://en.wikipedia.org/wiki/Special:Random';">
              Surprise Me!
              <md-icon class="material-icons">shuffle</md-icon>
              <md-tooltip>Links to a random wikipedia article.</md-tooltip>
            </md-button>
          </div>
        </div>

        <md-card ng-repeat='data in wikiData'>
          <md-card-header>
            <md-card-header-text md-colors="::{color: 'primary'}">
              <h4 class="md-title">{{data.name}}</h4>
            </md-card-header-text>
          </md-card-header>

          <md-card-content>
            <p>{{data.snip}}</p>
            <a href="{{data.link}}" target="blank" md-colors="::{color: 'accent'}">Read More...<md-icon class="material-icons md-primary">open_in_new</md-icon></a>
          </md-card-content>
        </md-card>
      </md-card-content>
  </div>
</md-content>
