<div>
  <md-card>
    <md-card-header>
      <md-card-header-text>
        <h3 align="center">Information</h3>
      </md-card-header-text>
    </md-card-header>
    <md-card-content>
      <md-list-item class="md-3-line" ng-click="null">
        <div class="md-list-item-text">

            <div align="center">
      				<img src="{{info.icon}}">
      			</div>
            <h2>Company:      {{info.company}}</h2>
            <pre>
            <h5>Location:     {{info.company_location}}</h5>
            <h5>title:        {{info.company_title}}</h5>
            <h5>period:       {{info.period}}</h5>
          </pre>
        </div>
      </md-list-item>
    </md-card-content>
  <md-card>
</div>
